#root {
  display: flex;
  justify-content: center;
}

.card-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 600px;
  border: 1px solid #ddd;
}

button {
  width: 100px;
}
